{% extends "auth_base.html" %}

{% block title %}
Forgot Password | GlucoSense
{% endblock %}

{% block content %}

<h1>

<i class="fa-solid fa-key"></i>

Forgot Password

</h1>

<p>
    Enter your registered email address.
    We'll send you a One-Time Password (OTP) to reset your password.
</p>

<form method="POST">

    {% csrf_token %}

    <div class="input-group">

        <label>Email Address</label>

        <input
            type="email"
            name="email"
            placeholder="Enter your registered email"
            required>

    </div>

    <button class="auth-btn" type="submit">

        <i class="fa-solid fa-paper-plane"></i>

        Send OTP

    </button>

</form>

{% if messages %}

    {% for message in messages %}

        <p class="error-message">

            {{ message }}

        </p>

    {% endfor %}

{% endif %}

<div class="back-link">

    <a href="{% url 'login' %}">

        ← Back to Login

    </a>

</div>

{% endblock %}