{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login | GlucoSense Predictor</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

<div class="login-container">

    <div class="login-left">

        <div class="login-left">
    <img src="{% static 'images/.login-left img.png' %}" alt="GlucoSense">
</div>

    </div>

    <div class="login-right">

        <div class="login-box">

            <h1>Welcome to GlucoSense</h1>

            <p class="subtitle">
                Securely access your health records and diabetes screening reports.
            </p>

            <form method="POST">

                {% csrf_token %}

                <div class="input-group">

                    <label>Email Address</label>

                    <input
                        type="email"
                        name="email"
                        placeholder="Enter your email"
                        required>

                </div>

                <div class="input-group">

                    <label>Password</label>

                    <input
                        type="password"
                        name="password"
                        placeholder="Enter your password"
                        required>

                </div>

                <div class="options">

                    <label>

                        <input type="checkbox">

                        Remember Me

                    </label>

                    <a href="{% url 'forgot_password' %}">
                       Forgot Password?
                    </a>

                </div>

                <button type="submit" class="login-btn">

                    Login

                </button>

            </form>

            <p class="register-text">

                Don't have an account?

                <a href="{% url 'register' %}">

                    Register

                </a>

            </p>

        </div>

    </div>

</div>

</body>

</html>